Body{
 background-color: blanchedalmond;
}       
h1{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
    text-align: center;
}
h2{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-style: bold;
}
p{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:large;
    text-align: center;
}
.box{
  height: 50px;
  flex: 3;
}
.container{
  display: flex;
  text-align: center;
  font-style: Bold;
  font-size: x-large;
}
.pic_1{
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
.pic_2{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.pic_3{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
